//npm.pkg.github.com/:_authToken=${API_TOKEN_GITHUB}
@greenroom-robotics:registry=https://npm.pkg.github.com
link-workspace-packages=true
shared-workspace-lockfile=true
ignore-workspace-root-check=true
strict-peer-dependencies=false